*.o
*.out
*.exe
*.dll
*.so
*.dylib
*.bak
*.txt
*.tape
*.sh
*.log
*.tmp
*.pid
*.sh
*.obj
*.makefile
*.zip
*.mp4
kalien
tapes
.DS_Store
Thumbs.db
.vscode/
.idea/
*.swp
*.swo
*.gcda
*.gcno
*_prod
.clang-format

# fitness func
/fitness/*
!fitness/default.cu